<iframe width="560" height="315" src="http://www.youtube.com/embed/qQkBeOisNM0?list=PLuFo_iTz-7YGB-XlbX62Di5PU6IXNLL7I" frameborder="0" allowfullscreen></iframe>

<div class="marketing">
  <h1>
    Want to listen <%= link_to "BillBoard Hot 100", "www.billboard.com/#/charts/hot-100" %> online?<br />
    Getting start in three steps.
  </h1>
<div class="row-fluid">
      <div class="span4">
        <h2>Step 1.</h2>
         <p>
           Click the "Sign in with YouTube" button on sidebar.
         </p>
      </div>
      <div class="span4">
        <h2>Step 2.</h2>
         <p>
            Click the "Subscribe" button.
         </p>
      </div>
      <div class="span4">
        <h2>Step 3.</h2>
         <p>
          You have a "BillBoard Hot 100" playlist in your YouTube account! <h5>And we will update it weekly for you!</h5>
         </p>
      </div>
    </div>
</div>
